/* 设置页面填充100% */
html,body {
    height: 100%;
    margin: 0;
}

#full{

    /* 背景 */
    background-color: rgb(42, 39, 39);

    /* 容器高度 */
    height: var(--windowHeight);
}

.title{
    display: flex;
    flex-direction: row;
}

.subTitle{
    display: flex;
    flex-direction: column;
    width: 130px;
}

.chose{
    margin: 10px;
    color: white;
    border: 0px;
    background-color: rgba(245, 222, 179, 0);
}

.player_div{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: 10px;
    right: 0;
}

.player{
    margin: 6px;
    width: 410px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

.choseRC{
    margin: 10px;
    color: white;
    border: 0px;
    background-color: #00FFFF80
}

.whiteText{
    color: white;
    margin-left: 2px;
}

.player_line{
    color: white;
    margin: 0;
}

.bot_info{
    display: flex;
    flex-direction: column;
    width: 270px;
}

.bot_line{
    color: white;
    margin: 5px;
}

.network_button{
    background-color: #00FFFF00;
    border: 0px;
    color: #FFFFFF;
    margin-top: 25px;
}

.network_button:hover{
    color: rgb(0,255,0);
}

.network_button:active{
    color: white;
    background-color: #00FFFF80;
}